<!DOCTYPE html>
<html>
<head>
  <title>Tennis Stroke Finder</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<img src= "http://images.cooltext.com/3340095.png"/>
<%= yield %>

</body>
</html>
